{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <h2 class="text-center mb-4">👨‍🏫 Личный кабинет преподавателя</h2>

    <div class="card shadow p-4">
        <a href="/courses/all/" class="btn btn-outline-primary mb-3">📘 Все курсы</a>

        <div class="alert alert-info">Добро пожаловать, {{ user.get_full_name|default:user.username }}!</div>
        <p class="text-muted">Здесь вы можете управлять своими курсами и оценками студентов.</p>
    </div>
</div>
{% endblock %}
